
/*background style start */
body{
    background: linear-gradient(90deg, #0d222d, #112132, #101f3c, #0d1a41);
    animation: example 5s linear 2s infinite alternate;
    background-size: 400% 400%;
}
@keyframes example {
    0%{background-position: 0% 25%}
    50%{background-position: 50% 75%}
    100%{background-position: 100% 0%}
}
/*background style End */